.overlay.hide
  #login.hide
    %a.close{ :href => '#' } X
    %h1 Sign in through your favorite social network
    = form_tag(auth_path) do
      = hidden_field_tag 'provider'
      = hidden_field_tag 'return_to'
      = link_to image_tag('auth/google_128.png', :title => 'Google'), 'google', :class => 'provider'
      - OauthProvider.order('"order"').all.each do |p|
        = link_to image_tag("auth/#{p.name}_128.png", :title => p.name.capitalize), p.name, :class => 'provider'
    %p
      If you are not yet registered, your account will be created. If you are already registered, you will be redirected to your account after login.
    %p
      %strong Remember what network you registered.
      It is with her ​​that you will always access your account.  
= javascript_include_tag 'login'

